<div class="form-group">
  <label for="{{ name }}">{{ text }}</label>
  <select name="{{ name }}" id="{{ name }}" {{ disabled && 'disabled' }}>
    {{{ $slots.options() }}}
  </select>
  @if(error)
    <span class="error">{{ error }}</span>
  @endif
</div>
